.header__link{
    color: var(--acent);
    cursor: pointer;
    line-height: 1.33;
    text-transform: uppercase;
    color:var(--grey) ;
}

:root{
    --black: #00000:
    --white: #fff;
    --text-color:#626262;
    --grey:#7D7D7D;
    --light-grey:#B4AD9E;
    --acent:#03A9F4;
   
}

h1, h2, h3, h4, h5, h6, p, ul, img {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*h1 {
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 31px;
    margin-right: 93px; 
}

.logo-acent {
    color: var(--acent);
}

.logo-white{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.1;
    color: white;
}

.logo-acent-white{
    color: var(--acent);
}

.menu{
    display: flex;
    text-transform: uppercase;
  
}

.menu-link{
    margin-right: -30px;
    line-height: 2.92;
    color: var(--axent-color);
}
.menu-link:hover {
    color: var(--acent);
}

.menu-item{
    margin-right: 40px;
    list-style-type: none;
}

.menu-item:last-child{
    margin-right: 0;
}

.text {
    width: 129px;
    height: 19px;
    top: 1922px;
    left: 286px;
    gap: 0px;
    opacity: 0px;
    width: 130px;
    height: 19px;
    top: 1951px;
    left: 285px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 90px;
}



.container {
    width: 1170px;
    padding: 0 15px;
    border: 1px solid  #03A9F4;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.section-title-black{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-indent: 300px;
    margin-bottom: 80px;
}
.contact-btn{
    display: block;
    padding: 18px 33px 28px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 1.21;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--axent-color);
}

.list-item {
    max-width: 420px;
    margin-bottom: 130px;
    list-style-type: none;
}

.list-item-1 {
    width: 270px;
height: 368px;
top: 1632px;
left: 515px;
gap: 0px;
border-radius: 0px 0px 4px 4px;
opacity: 0px;
list-style-type: none;
}
.services{
    width: 270px;
    float: left;
    text-align: center;
    margin: 20px;
    margin-bottom: 80px;
}

.a {
    display: grid;
    align-items: end;
    background: #2F303A;
    left: 215px;
    width: 1600px;
    height: 52px;
}

.list-item {
    max-width: 420px;
    margin-bottom: 130px;
}

.h4 {
    display: grid;
    align-items:  end;
    background: #2F303A;
    left: 215px;
    width: 1600px;
    height: 52px;
    top: 2094px;
    gap: 0px;
    opacity: 0px;

}

.works-clearfix {
    margin-bottom: 80px;
}