body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.header__link{
    color: var(--acent);
    cursor: pointer;
    line-height: 1.33;
    text-transform: uppercase;
    color:var(--grey) ;
}

:root{
    --black: #00000:
    --white: #fff;
    --text-color:#626262;
    --grey:#7D7D7D;
    --light-grey:#B4AD9E;
    --acent:#03A9F4;
   
}

h1, h2, h3, h4, h5, h6, p, ul, img {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*h1 {
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
}*/



.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 31px;
    margin-right: 93px; 
}

.logo-acent {
    color: var(--acent);
}

.logo-white{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.1;
    color: white;
}

.logo-acent-white{
    color: var(--acent);
}

.menu{
    display: flex;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}



.menu-list {
    display: flex;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    
}

/*.menu-link:hover {
    background-color:#1f57f1;
    transition: 0.7s;
}

.menu-list-link:hover {
    background-color: #03A9F4;
    transition: 0.7s;
}*/

.menu-link{
    line-height: 2.92;
    color: var(--axent-color);
}

.menu-item{
    margin-right: 40px;
    list-style-type: none;
}

.menu-item:last-child{
    margin-right: 0;
}

.list-item {
    max-width: 420px;
    margin-bottom: 130px;
    width: 250px; /*ширину на минимум*/
    float: left;
    word-wrap: break-word;
}
.text {
    /*width: 129px;
    height: 19px;
    top: 1922px;
    left: 286px;
    gap: 0px;
    opacity: 0px;
    width: 130px;
    height: 19px;
    top: 1951px;
    left: 285px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 90px;
    white-space: nowrap;
    display: grid;*/
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
 
}

.container {
    width: 1200px;
    padding: 0 15px;
    border: 1px solid  #03A9F4;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.li {
    width: 1600px;
    height: 600px;
    top: 80px;
    gap: 0px;
    opacity: 0px;
    background: #2F303A;
}



.team-card-2 {
    width: 270px;
    height: 368px;
    top: 1632px;
    left: 515px;
    gap: 0px;
    opacity: 0px;

}

.btn {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.section-title-black{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-indent: 30px;
    color: white; 
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    position: absolute; 
    position: bottom 100px;
    width: 696px;
    height: 120px;
    top: 250px;
    left: 452px;
    gap: 0px;
    opacity: 0px;
    margin-left: 200px;
}

.aboutus-list {
    display: flex;
    margin-left: 45px;
    margin-bottom: 50px;
    align-items: Center; 
    Justify-content: center;
    
}

.img {
    margin-right: 40px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.contact-btn{
    display: block;
    padding: 18px 33px 28px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 1.21;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--axent);
    display: block;
    background: #2196F3;
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90%;
    width: 300px !important;
    text-align: center !important;
    margin-top: 100px;
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;   
    border: 1px solid transparent;
    width: 216px;
    margin-top: 70px;
}

.title-black {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-indent: 30px;
    color: var(--black); 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    margin-top: 40px;
}



.section-black {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-indent: 30px;
    color: var(--black); 
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom: 60px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.list-item {
    list-style-type: none; 
}

.list-item-1 {
    width: 270px;
height: 368px;
top: 1632px;
left: 515px;
gap: 0px;
border-radius: 0px 0px 4px 4px;
opacity: 0px;
list-style-type: none;
}

.services{
    width: 270px;
    float: left;
    text-align: center;
    margin: 20px;
    margin-bottom: 80px;
}

.a {
    display: grid;
    align-items: end;
    background: #2F303A;
    left: 215px;
    width: 1600px;
    height: 52px;
}

.team-name {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.team-work {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.list-item {
    max-width: 420px;
    margin-bottom: 130px;
}

.h4 {
    display: grid;
    align-items:  end;
    background: #2F303A;
    left: 215px;
    width: 1600px;
    height: 52px;
    top: 2094px;
    gap: 0px;
    opacity: 0px;

}

.works-clearfix {
    margin-bottom: 80px;
}

.footer-item {
    list-style-type: none;
}

.footer-link {
    line-height: 2.92;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.group {
    margin-bottom: 40px;
}

.div-container {
    width: 1600px;
    height: 252px;
    top: 2094px;
    gap: 0px;
    opacity: 0px;
    background: #2F303A;
}

.program {
    background: #2F303A;
    filter: brightness(40%);
    width: 1600px;
    height: 600px;
    top: 80px;
    gap: 0px;
    opacity: 0px;

}

.footer {
    color: #2F303A;
}
